<%# To imbed ruby code in here we need to use embedded ruby tags like this one used to comment %>

<p><h2>This is the show tempelate invoked by show method in ArtistsController class </h2></p>

<p> <strong>
Author: <ul> <li> Username:  <%= @article.user.username  %> </li>
<li> Email: <%= @article.user.email  %> </li>
<li>Id: <%= @article.user.id  %> </li>
</ul>
</strong> </p> 

<p> <strong>
ID: <%= @article.id  %>
</strong> </p> 

<p> <strong>
Title: <%= @article.title  %>
</strong> </p> 

<p> <strong>
Description: <%= @article.description  %>
</strong> </p> 
<% if logged_in? && current_user.id == @article.user_id  %>
    <%= button_to "DESTROY", @article, method: :delete, onclick: "return confirm('Are you sure you want to delete this article?');"  %>
    <%# <%= button_to "DESTROY2", @article, method: :delete, onclick: "return confirm('Are you sure you want to delete this post?');"  %> 

    <p>

    <%= link_to 'EDIT',  edit_article_path(@article),  data: { confirm: 'Are you sure you want to edit this post?' }%> 
<%end  %>
<%= button_to 'Articles Listing',  articles_path, method: :get %> <br>
</p>