<!DOCTYPE html>
<html>
  <head>
    <title>Simple Rails App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'custom', media: 'all' %> <!-- Include your custom CSS file -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <%# This portion is used to iterate on each flash notices or any other messages to display just above the body %>
    <%flash.each do |hash_var, msg| %>
      <%=msg  %>
    <%end  %>


    <%= yield %>
  </body>
</html>
